body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 900px;
    margin: 40px auto;
    background-color: #f4f4f4;
    padding: 30px;
    box-shadow: 0 4px 10px #000000;
    border-radius: 10px;

}

.header{
    text-align: center;
    margin-bottom: 20px;
}

.header p{
    margin: 2px;
    color: #3b3b3b;

}

h2{
    color:rgb(255, 134, 154);
    border-bottom: 2px solid pink;
    padding-bottom: 5px;
    margin-top: 30px;
}

p,
li{
    text-align: justify;
    line-height: 1.6;
}

ul{
    list-style: none;

}

ul li{
    content: "!.";
    color:rgb(0, 0, 0);
    font-weight: bold;

}

.button{
    display: flax;
    justify-content: flex-end;
}

#btn-print{
    background-color: rgb(255, 134, 154);
    color:#f4f4f4;
    border: none;
    padding: 10px 20px ;
    cursor: pointer;
    font-size: 16px ;

}

#btn-print:hover{
    background-color: rgb(54, 54, 25);
}

@media print{
    #btn-print{
        display: none;
        visibility: hidden;
    }
}